<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ModelDemo</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href='http://fonts.googleapis.com/css?family=Open+Sans&subset=latin,latin-ext'
          rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/style.css">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>
    <script src="js/app/app.js"></script>
    <script src="js/app/mainService.js"></script>
    <script src="js/app/mainController.js"></script>
</head>

<body ng-app="ModelDemo">
<div class="row container-full ">
    <div class="col-12" ng-controller="mainController">

        <!-- Form Elements -->
        <form action="" method="get">
            <fieldset>
                <legend>Example form</legend>
                <!-- Input[type=text] -->
                <div class="col-4 text-right">
                    <label for="name">Full Name</label>
                    <input type="text" id="name" cols="60" placeholder="Your full name..."
                           ng-model="user.name">
                </div>

                <div class="col-4 text-right">
                    <label for="login">Login</label>
                    <input type="text" id="login" cols="60" placeholder="Your login here..."
                           ng-model="user.login">
                </div>

                <div class="col-4 text-right">
                    <label for="job">Job</label>
                    <input type="text" id="job" cols="60" placeholder="Your job here..."
                           ng-model="user.job">
                </div>
            </fieldset>
        </form>
    </div>
</div>
</body>
</html>
